@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
$topbar-background	:blue ;
$blue: #406BB0;
$dark-gray: #545454;


*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}
#forgeText {
  text-align: center;
  }

#forgeViewer {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 80%;
  height:50%;

}
.cell {
  position: relative;
  text-align: center;
  margin: 0% 5% 5% -3%;
  margin-bottom: 30px;
  border-radius:5px;
  border: 3px solid;
  background-color: white;
}
.grid-x {

  margin: 50px;
}
.newModelForm {
  
  background-color: white;
}
.container {
  margin:10% 30%;
  height: 300px;
  position: relative;
}
body {
  background-color: beige;
}
.centerText {
  text-align: center;
}
.center {
  border: 3px solid;
  border-radius: 5px;  
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.cell:hover {
  text-align: center;
  margin-bottom: 30px;
  border-radius:5px;
  border: 3px solid;
  background-color: white;
  border-color:blue;
}
.top-bar-button:hover {
  border-radius: 5px;
  background-color:lightgrey;
}
.bold {
  font-weight: bold;
}
.button {
  font-weight: bold;
  background-color: $blue;
  border-color: black;
  border-width: 3px;
  border-radius: 5px;
}
.title {
  text-align: center;
}